body {
    margin: 0;
    padding: 0;
   }
   
   
   .footerN {
    text-align: center;
    background-color:white;
    border-top:2px white;
    position: relative;
    padding: 7px;
    width: 100%;
    bottom: 0;
    color:black;
    font-size: 18px;
   }