

.App-header {
    margin-top: 90px;

    background-color: white;
  
    z-index: 10;
  
    min-height: 50vh;
  
    display: flex;
  
    flex-direction: column;
  
    align-items: center;
  
    justify-content: center;
  
    font-size: calc(10px + 2vmin);
  
    color: white;
  
  }
  
  
  
  .App-link {
  
    color: #61dafb;
  
  }
  
  
@keyframes App-logo-spin {

    from {
  
      transform: rotate(0deg);
  
    }
  
    to {
  
      transform: rotate(3600deg);
  
    }
  
  }


  .App-logo {

    position: absolute;
  
    animation: App-logo-spin 100s linear;
  
    height: 20vmin;
  
    width: 20vmin;
  
    pointer-events: none;
  
  }


  
#non {
    text-decoration: none;
}
  