
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

div.content{
    width: 100vw;
}

div#image{
    background-image: url('../img/bg-2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: center;
}

div#form{
    padding-top: 80px;
    background: white;
    text-align: center;
}

div.heading{
    font-weight: bolder;
}

input.form-control-lg{
    background-color: #f6f6f6;
    border: 0;
    border-radius: 4px;
}
.form-group{
    line-height: 4;
}

input#password{
    margin-top: 40px;
}
